# Ignore Vunit files
**/vunit_out/

# Ignore HDL checker files (Linux and Windows)
**/.hdl_checker
**/_hdl_checker

# Ignore Xilinx files
**/.Xil
**/vivado*

# Vivado Project Folder name 
**/.prj/
**/prj/